{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }]
      ]
    },
    "test": {
      "presets": [
        "babel-preset-es2015", "babel-preset-power-assert"
      ]
    }
  }
}
