{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          },
          "babel-preset-power-assert"
        ]
      ]
    }
  }
}
