/* eslint-disable comma-dangle */
{{>head}}
import _{{name}} from './base/{{fileName}}';
export * from './base/{{fileName}}';

export default class {{name}} extends _{{name}} {

  /**
   * write custom methods here
   */
}
