{{>head}}
import _{{name}} from './base/{{fileName}}';
export {
{{#usePropTypes}}
  propTypes, propTypesObject,
{{/usePropTypes}}
{{#enums}}
  {{.}},
{{/enums}}
  schema,
  denormalize
} from './base/{{fileName}}';

export default class {{name}} extends {{name}} {
  /**
   * write custom methods here
   */
}
