/* eslint-disable */
{{>head}}
{{#importList}}
import { schema as {{name}} } from './{{&path}}';
{{/importList}}
{{#useTypeScript}}import { Schema, {{#hasOneOf}}schema as _schema,{{/hasOneOf}} } from 'normalizr';{{/useTypeScript}}{{^useTypeScript}}{{#hasOneOf}}import { schema as _schema } from 'normalizr';{{/hasOneOf}}{{/useTypeScript}}

{{>oneOf}}
{{#useTypeScript}}

interface Schemas {
  [key: string]: {
    [key: string]: Schema
  }
}
{{/useTypeScript}}

const schemas{{#useTypeScript}}: Schemas{{/useTypeScript}} = {{&data}};

export default schemas;
