/* eslint-disable */
{{>head}}
{{#importList}}
import { schema as {{name}} } from './{{&path}}';
{{/importList}}
{{#hasOneOf}}import { schema as _schema } from 'normalizr';{{/hasOneOf}}

{{>oneOf}}

const schemas = {{&data}};

export default schemas;
